<div align="center">
    <br><br>
    <h1>Welcome to the main page of <strong> HyperTechGroove</strong>!</h1><br>
    <p *ngIf="!isLoggedIn"> Welcome to HyperTechGroove, where you can sign up, log in, and change your information. It's not
        fancy, but it gets
        the job done. We believe in the power of simplicity, and we promise that signing up, logging in, and changing
        your information has never been easier. Plus, you'll become part of an elite group of people who have chosen
        simplicity over complexity. So, what are you waiting for? Sign up now and join the ranks of the simple and
        straightforward.</p>
    <p *ngIf="isLoggedIn">
        Welcome to HyperTechGroove's main page, where you can either change your information or log out and take a break from
        all the excitement. It's a tough decision to make, but don't worry, we'll be here waiting for you when you come
        back to continue the thrill of updating your personal details. Because let's face it, there's nothing more
        exciting than logging in and out of an app.
    </p>
    <br> <br> <br>
    <div *ngIf="!isLoggedIn">
        <a class="btn btn-outline-success me-3" href="signin">sign up</a>
        <a class="btn btn-outline-success ms-3" href="login">log in</a>
    </div>
    <div *ngIf="isLoggedIn">
        <a class="btn btn-outline-success me-3" href="update">Update your information</a>
        <a class="btn btn-outline-success ms-3" (click)="logout()">Log out</a>
    </div>
</div>