<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>{{ title }}</title>
</head>

<body class="text-center">
  <div style="max-width: 40rem;" class="cover-container d-flex p-3 mx-auto flex-column">
    <app-navbar></app-navbar>
    <main class="px-3">
      <br>
      <div class="container">
        <br>
        <app-home *ngIf="showMessage"></app-home>
        <router-outlet *ngIf="!showMessage"></router-outlet>
      </div>
    </main>

    <footer style="
    position: -webkit-sticky;
    color: rgb(118, 193, 146);
    height: 65px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;">
    <br>
      <p class="text-center" style="
      opacity: 0.4;">All rights reserved to the author of the application!</p>
    </footer>
  </div>
</body>

</html>