<div class="">
    <h3 class="">Update your information</h3>
    <p>We promise not to sell your information to anyone who won't pay top dollar.</p>
    <br>
    <div class="container">
        <form [formGroup]="updateUser" (ngSubmit)="onSubmit()">
            <div class="form-floating">
                <input type="text" id="firstname" class="form-control" formControlName="firstname" placeholder="name">
                <label for="floatingInput">First Name</label>
            </div>
            <br>
            <div class="form-floating">
                <input type="text" id="lastname" class="form-control" formControlName="lastname" placeholder="name">
                <label for="floatingInput">Last Name</label>
            </div>
            <br>
            <div class=" form-floating">
                <input type="email" id="email" class="form-control" formControlName="email"
                    placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <br>
            <div class="form-floating">
                <input type="text" id="username" class="form-control" formControlName="username" placeholder="name125">
                <label for="floatingInput">Username</label>
            </div>
            <br>
            <div class="form-floating input-group">
                <input type="{{ passwordType }}" id="password" class="form-control" formControlName="password"
                    placeholder="name@example.com">
                <label for="floatingInput">Password</label>
                <button type="button" class="btn btn-outline-dark btn-password-toggle"
                    (click)="togglePasswordVisibility()">
                    <span *ngIf="passwordType === 'password'">Show</span>
                    <span *ngIf="passwordType === 'text'">Hide</span>
                </button>
            </div>
            <br>
            <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}} <br></div>
            <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}} <br></div>
            <button class="btn btn-outline-success input-group" type="submit" [disabled]="updateUser.invalid">Submit</button>
        </form>
    </div>
</div>